html, body{
    overflow:hidden;    
}
#app{
    margin:auto;
    width:500px;
    height:60px;
    box-shadow: 2px 2px 5px  5px rgb(214, 213, 213);
    -webkit-box-shadow: -1px -1px 13px 2px rgba(224,213,213,1);
    -moz-box-shadow: -1px -1px 13px 2px rgba(224,213,213,1);
    box-shadow: -1px -1px 13px 2px rgba(224,213,213,1);
}
#addTask{
    width: 100%;
    height: 100%;
    padding:5px 10px 5px 50px;
    font-size:25px;
    font-style:italic;
    color: rgb(156, 151, 151);
    border:1px solid rgb(202, 198, 198);
    display: block;

}
header{
    width:100%;
}
input:focus{
    outline:none;
    border:3px solid rgb(202, 198, 198);
}
::placeholder {
    color: rgb(223, 217, 217);
    font-style: italic;
}

.task{
    display: block;
}

.toggleAll::after{
    content: "\2713";
    position: absolute;
    top: 24px;
    padding-left: 15px;
}


@media screen and (max-width: 600px){
    #app{
        width:80%;
    }
    #add-task{
        font-size:18px;
        padding: 5px 10px 5px 20px;
    }
}